.git
.github
.idea
.vscode
.develop
.docs

target
build
logs
reports
data
flight_recording
configurations
src/test
integration-tests.sh

*.class
*.iml
*.log
*.md
.DS_Store

docker-compose*.yml
docker.*.sh
