target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.configProject
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Local for this Project

# Игнорировать .develop
.develop

# Игнорировать всё в .logs
logs/*

# Игнорировать всё в директориях данных
projects_runtime_dir/*
projects_archive_dir/*

# Не игнорировать сами директории данных
!projects_runtime_dir
!projects_archive_dir

# Игнорировать всё в configurations
configurations/*

# Не игнорировать example.configuration.xml в configurations
!configurations/example.configuration.xml
