version: '3.7'
services:
  tessera-dfe:
    image: byzatic/tessera-data-flow-engine:latest
    container_name: tessera-data-flow-engine
    ports:
      - "8080:8080"
      - "9090:9090"
    volumes:
      - $PWD/configurations/:/app/configurations/
      - $PWD/data/source/:/app/data/source_zip
      - $PWD/logs/:/app/logs/
    environment:
      - PROJECT_NAME=MyAwesomeProject
      - GRAPH_CALCULATION_CRON_CYCLE=*/30 * * * * *
      - PROMETHEUS_URI=http://0.0.0.0:9090/metrics
      - JVM_METRICS_ENABLED=True
      - XMS=512m
      - XMX=6144m
      - DATA_DIR_WATCH_INTERVAL=50
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: "10m"
    networks:
      - 93849dcd429a-tessera-dfe

networks:
  93849dcd429a-tessera-dfe:
    name: 93849dcd429a-tessera-dfe
    external: false





