version: '3.7'
services:
  tessera-dfe-develop:
    build:
      context: .
      dockerfile: Dockerfile
    image: byzatic/tessera-data-flow-engine:develop
    container_name: tessera-data-flow-engine
    ports:
      - "8080:8080"
      - "9090:9090"
    volumes:
      - $PWD/configurations/:/app/configurations/
      - $PWD/data/source/:/app/data/source_zip
      - $PWD/logs/:/app/logs/
      - $PWD/flight_recording/:/tmp/flight_recording/
    environment:
      - GRAPH_CALCULATION_CRON_CYCLE=*/30 * * * * *
      - PROMETHEUS_URI=http://0.0.0.0:9090/metrics
      - JVM_METRICS_ENABLED=True
      - PUBLISH_NODE_PIPELINE_EXECUTION_TIME=False
      - PUBLISH_STORAGE_ANALYTICS=False
      - XMS=512m
      - XMX=5632m
      # Production FlightRecording
      #- JAVA_TOOL_OPTIONS=-XX:StartFlightRecording=name=tessera,filename=/tmp/flight_recording/recording.jfr,settings=profile,dumponexit=true,maxsize=512m,maxage=1h,delay=348s
      # Develop FlightRecording
      - JAVA_TOOL_OPTIONS=-XX:StartFlightRecording=name=tessera,filename=/tmp/flight_recording/recording.jfr,settings=profile,duration=300s,delay=400s
      - DATA_DIR_WATCH_INTERVAL=500
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: "10m"
    networks:
      - 93849dcd429a-test-develop-tessera-dfe

networks:
  93849dcd429a-test-develop-tessera-dfe:
    name: 93849dcd429a-test-develop-tessera-dfe
    external: false





